.table{
    display: flex;
    position: relative;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td {
    justify-content: center;
    vertical-align: top;
    padding: 5px;
}
img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    text-align: center;
}
h4{
    text-align: center; 
    font-family: "隶书";
    font-size: 25px;
}
p{  
    text-indent: 2em;
    font-family: "隶书";
    font-size: 22px;
    
}
h5{
    text-align: center;
    font-size: 27px;
}
